

.centered_body{
	margin: 0 auto;
	text-align: center;
}

.simlpe_bg{
	background-color: #e5e5e5;
}

.center_tittle{
	font-size: 25pt;
	margin-bottom: 6%;
	margin-top: 6%;
}

.center-colum{
	width: 40%;
	font-size: 15pt;
	padding: 5px;
	margin-bottom: 3%;

}

